.main-header {
    font-size: 1rem;
    text-align: center;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.main-header h2 {
    margin-top: -3px;
}

#feature-text::after {
    content: '|';
    display: inline-block;
    animation: blink-caret 1.5s infinite alternate;
}

@keyframes blink-caret {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (hover: none) and (pointer: coarse) {
    .main-header {
        justify-self: center;
    }
}